<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Self Reflection Chatbot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body style="background: dimgrey">
    <div class="jumbotron text-center" style="background: slategrey">
        <h1>ChatBot Selection</h1>
    </div>

    <div class="container">

      <div class="row">

        <div class="col-sm-4">
          <div class="card text-center" style="width: 30rem;">
            <img class="card-img-top" src="/static/CrystalBallPFP.jpeg" width="300"/>
            <div class="card-body">
                <h4 class="card-title">Mysterious ChatBot...</h4>
                <p class="card-text">Who knows what kinds of wisdom you might find? But first, you'll have to decrypt it...</p>
                <a href="/cryptic_bot" class="btn btn-primary">Chat</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card text-center" style="width: 30rem;">
            <img class="card-img-top" src="/static/PiratePFP.jpeg" width="300"/>
            <div class="card-body">
                <h4 class="card-title">Pirate ChatBot</h4>
                <p class="card-text">
"Avast ye landlubbers! Meet our chatbot, the swashbuckling matey who'll shiver yer timbers with every message in true pirate speak."</p>
                <a href="/pirate_bot" class="btn btn-primary">Chat</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card text-center" style="width: 30rem;">
            <img class="card-img-top" src="/static/ThanosPFP.jpeg" width="300"/>
            <div class="card-body">
                <h4 class="card-title">Thanos Chatbot</h4>
                <p class="card-text">Speak with the mad titan himself!</p>
                <a href="/thanos_bot" class="btn btn-primary">Chat</a>
            </div>
          </div>
        </div>

      </div>

      </div>

  </body>
</html>
